**/.DS_Store
song_lyrics.csv
backend/songs.db
**/*.db
**/*.txt

# Secrets
.env

# Python junk
__pycache__/
*.pyc

# Search Index / Data
search_index_en/
search_index_es/
*.db-shm
*.db-wal
*.pkl
*.dat
*.dir

**/backend/:memory
:memory